* {
    font-style: "roboto", arial; 
}

img {
    width: 300px;
    height: auto;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
}

h1 {
    margin:0;
}

.headerLogo {
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-grow: 1;
    padding-left: 100px;
}

.headerLinks {
    color: #E5E7EB;
    font-size: 18px; 
    display: flex;
    list-style-type: none;
    padding: 12px 12px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 100px;
}

.sectionOne {
    background-color: #1F2937;
    color: #F9FAF8;
    margin: 0;
    padding: 30px;
    padding-bottom: 60px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-wrap: wrap;
}

.darkBackground {
    background: #1F2937;
    color: #F9FAF8;
    display: flex;
    gap: 0;
}

.leftOfImage {
    display: flex;
    flex-wrap: wrap;
}